# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
venv/
ENV/
.env

# Flask
instance/

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# IDE
.vscode/
